<?xml version="1.0"?>
<configuration>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<standardEndpoints>
			<webHttpEndpoint>
				<!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
				<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>
  <appSettings>
    <add key="NetworkAreaSize" value="64" />
    <add key="NetworkMaxNodeCount" value="64" />
    <add key="InitialNodeCount" value="10" />
    <add key="NetworkID" value="1" />
    <add key="LogPath" value="C:/inetpub/wwwroot/1/bin/App_Data/Log" />
    <add key="CrossNetworkNodes" value ="0"/>
    <add key ="GlobalPosNodeCount" value="4"/>
    <add key="SecondaryNetworkID" value="0"/>
    <add key="Global Position - 0" value ="49.2323422N;16.5713003E"/>
    <add key="Global Position - 1" value ="49.236828N;16.5710575E"/>
    <add key="Global Position - 2" value ="49.235922N;16.5707558E"/>
    <add key="Global Position - 3" value ="49.2322517N;16.5710053E"/>
    <add key="Global Position type" value ="LonLat"/>
  </appSettings>
</configuration>
