<appSettings>
  <add key="LogPath" value="C:/inetpub/wwwroot/1/bin/App_Data/Log" />
  <add key="MethodUsed" value ="2D"/>
  <add key="CrossNodesAvailable" value ="YES"/>
  <add key="XShift" value="0"/>
  <add key="YShift" value="0"/>
  <add key="ZShift" value="0"/>
  <add key="ShiftAngle" value ="0" />
</appSettings>

